/* VARIABLES DEFINIDIAS */
:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #1b2f62;
    --color-secondary: #0e204e;
    --black1: #1a1b1f;
    --black2: #30353b;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Hammersmith One', sans-serif;
  
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #1b2f62, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #1b2f62, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}



.hero__sin--slider {
    width: 100%;
}


.box-panel {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--black2);
}

.logo__club {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 46px);
    top: 120px;
}


h1 {
    text-align: center;
    color: #fff;
}



.panel {
    background: var(--color-primary);
    padding: 40px 0;
    border: 2px solid #fff;
    box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 25%;
    height: 100px;
    margin: auto 20px;
    margin-top: 100px;
}

/* menu con opciones */
.container-panel {
    max-width: 1200px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-top: -50px;
}

.barra-titulo {
    display: flex;
    margin: 20px;
    justify-content: center;

}

.sector-admin {
    width: 95%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    border: 2px solid var(--color-primary);
    background: var(--black2);
    border-radius: 15px;
    font-weight: 700;
    box-shadow: 0px 0px 12px 2px;
}

.box-contenedor {
    width: 100%;
    height: 500px;
    margin: 20px auto;
    /* background-color: salmon; */
}

.panel-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 25px 20px 25px 20px;
    justify-content: space-around;
    /* background-color: salmon; */
}

.box-section {

    text-align: center;
    width: 350px;
    height: 350px;
    background-color: var(--black2);
    border: 2px solid #fff;
    border-radius: 8px;
}

.box-title {
    display: flex;
    background: var(--color-primary);
    border: 2px solid #fff;
    border-radius: 15px;
    width: 90%;
    height: 70px;
    color: #fff;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 15px 0 5px 16px;
}


.other {
    height: 50px;

}

.other-ct {
    height: 50px;
    margin-right: 20px;
    margin-top: -70px;

}

.box-button {
    display: inline-flex;
    line-height: 75px;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid var(--color-primary);
    color: var(--black2);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #fff;
    width: 150px;
    height: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}

.comision{
    margin-top: -20px;
}

.ctecnico {
    margin-top: -80px;
}


.box-button:hover {
    background: var(--color-primary);
    color: #f1f1f2;
    transition: .3s all;
    transform: scale(1.1);
    cursor: pointer;
}