<!DOCTYPE html>


<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head-personajes :: head"></head>
    <body>
        <header>
            <nav th:replace="/fragments/nav-bar :: nav"></nav>
        </header>
        <div class="container">
            <div th:if="${error}" class="alert alert-warning" mt-3 role="alert">
                <span th:text="${error}"> </span>
            </div>
            <div th:if="${success}" class="alert alert-success" role="alert">
                <span th:text="${success}"> </span>
            </div>
            <div class="card">
                <div class="card-header d-flex mt-5">
                    <h1 id="crearcharacters">Crear un personaje</h1>
                    <button class="btn-dark px-5 py-2 ms-auto"><a th:href="@{/characters/list}">Lista de Personajes</a></button>
                </div>
                <div class="card-body">
                    <form action="/characters/save" method="POST" th:object="${personaje}" enctype="multipart/form-data" >



                        <input hidden th:field="*{id}">
                        

                        <label for="nombre" class="form-label mt-2"></label>
                        <input type="text" class="form-control" id="nombreCompleto" name="nombre"  th:field="*{nombre}" placeholder="Ingrese el Nombre">

                        <label for="edad" class="form-label mt-2"></label>
                        <input type="date" class="form-control" id="fechaNacimiento" name="edad" th:field="*{edad}" th:value="*{edad}">
                        
                        <label for="peso" class="form-label mt-2"></label>
                        <input type="number" step="0.01" class="form-control" th:field="*{peso}" placeholder="Ingrese Peso">
                        
                        <label for="historia" class="form-label mt-2"></label>
                        <input type="text" class="form-control" id="nombreCompleto" name="historia"  th:field="*{historia}" placeholder="Ingrese la historia">
                        
                        <label for="pelicula" class="form-label mt-2"></label>
                        <select class="form-select" th:field="*{pelicula.id}" >
                            <option th:each="p : ${#lists.sort(peliculas)}" th:text="${p.titulo}" th:value="${p.id}" placeholder="Pelicula"></option>
                        </select>


                        <div class="grupo">
                            <input class="input" type="file" name="imagen" id="imagen"><span
                                class="barra"></span>
                            <label class="label" for="">Foto del personaje</label>
                        </div>


                        <input type="submit" class="form-control" id="enviar">
                    </form>
                </div>
            </div>
        </div>
        <script src="/https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="/https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </body>
</html>